.contenedor-descripcion{
  .contenedor-target{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .titulo-menu{
    font-size: 35px;
    text-align: center;
    color: $main-title;
  }
}
